$accentColor = #424242
$textColor = #232321
$themePicker = {
  color1: #E16B8C, //梅红
  color2: #BF6766, //砖红
  color3: #E2943B, //黄
  color4: #A28C37, //绿
  color5: #00AA90, //青
  color6: #58B2DC, //蓝
  color7: #986DB2 //紫
}